html {
  font-size: 16px;
}

/* Navigation section */

.main-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow:
		-0.05rem -0.05rem 0 #000,
		0.05rem -0.05rem 0 #000,
		-0.05rem 0.05rem 0 #000,
		0.05rem 0.05rem 0 #000;
}

@media only screen and (min-width: 770px) {
  .main-container {
    margin: 4rem 0;
  }
}

@media only screen and (min-width: 425px) {
  .main-container {
    padding: 1rem;
  }
}

/* Portfolio Section */
.portfolio-section {
  align-items: center;
}

/* Why Section */

.why-section {
  background-color: #003459;
  color: #ffffff;
  opacity: .9;
  align-items: center;
}

.why-section p{
  margin: 0;
}

@media only screen and (min-width: 760px) {
  .why-section {
    padding: 2rem;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 425px) {
  .why-section {
    padding: 1rem;
  }
}

/* Footer Section */
.footer {
  padding: 0 0.5rem;
}
